%table.codeable_question
  - unless category.is_a?(Fixnum)
    %tr
      %td{:colspan => questions.size}
        %strong= category
  %tr
  - questions.each do |question|
    %td
      = question.question.html_safe
      %br
        = text_area_tag "questions[#{question.id}]", ''