%table.uncodeable_question
  - questions.each do |question|
    %tr
      %td
        %strong= "<font size=\"3\">#{question.question}</font>".html_safe
      %td{:align => 'right'}
        = select_tag "questions[#{question.id}]", options_for_select(Question::NON_CODEABLE_OPTIONS)