%h2 Login
%h3 Please login to continue

%p Through the course of the next few weeks, you will learn the skills to help you make better decisions!

%p To begin your Journey, login with your username and password.

= form_tag 'login', :method => :post do
  %table{:style => 'margin: 10px auto 0 auto;', :cellpadding => 10}
    %tr
      %td{:align => 'right'} <strong>Username:</strong>
      %td= text_field_tag :username, params[:username], :style => 'width: 150px;'
    %tr
      %td{:align => 'right'} <strong>Password:</strong>
      %td= password_field_tag :password, nil, :style => 'width: 150px;'
    %tr
      %td{:colspan => 2, :align => 'right'}= submit_tag :login, :class => 'button'