= form_for [:admin, @klass] do |f|
  %table
    %tr
      %th Name
      %td= f.text_field :name
    %tr
      %th Default Password
      %td= f.text_field :default_password
    %tr
      %td{:colspan => 2}= f.submit :class => 'button'