%h1 Welcome to the Carnegie Mellon Decision Makers!
%table
  %tr
    %td
      = image_tag('book.jpg')
      %h2 Learn Strategies for STRONG Decision Making
      = image_tag('pie-chart.png')
    %td
      %h2 Build Your Personal Journey Book
      = image_tag('journey-book-bike.png')
      %h2 Assess Your Assets and Networks of Support