%h1 Seven Steps to Building the Decision Makers Journey Book
%table
  %tr
    %td{:width => '100px'} Step 1
    %td
      %p Begin with a <strong>Starting Point Profile of Yourself</strong>
      %p Review your personal network of support &mdash; the people, places, and experiences you count as assets. What are your personal plans for increasing those assets?
  %tr
    %td Step 2
    %td
      %p Design Your Journey Book’s Personalized <strong>Front Page</strong>
      .section
        .clock
        %h3 Collaborative Planning: A Strategy for Working Partners
        .clear
  %tr
    %td Step 3
    %td
      %p Meet Stephanie and Brian in the multimedia <strong>Journey Book Introduction</strong>
      %p Learn how to start a problem-solving dialogue with your network of supporters. Design Your Journey Book's Personalized Front Page
      .section
        .clock
        %h3 Story Behind the Story: A Strategy for Getting at the Whole Truth
        .clear
  %tr
    %td Step 4
    %td
      %p Create Chapter One: <strong>A Portrait of Myself as a Decision Maker</strong>
      %p Tell the story-behind-the-story of two hard decisions (a good and a bad one). Reveal "how you felt and what you learned" as you respond to the rival readings others have of your situation.
      .section
        .clock
        %h3 Rivaling: A Strategy for Bringing More Voices to the Table and Into Your Plan
        .clear
  %tr
    %td Step 5
    %td
      %p Create Chapter Two: <strong>A Plan of Action for a Real Problem</strong>
      %p Think through a hard a decision you are likely to face just down the road and make a Strong Decision Makers action plan.
      .section
        .clock
        %h3 Options and Outcomes: A Strategy for Making Strong Decisions
        .clear
  %tr
    %td Step 6
    %td
      %p Develop Chapter Three: <strong>A Portfolio of Plans, Strengths, and Accomplishments</strong>
      %p Plan how you can use this opportunity to make changes you care about most and to build your own assets. Write a letter to yourself. As you reach any milestone (big and small), place a note or record of your accomplishment in your Journey Book.
  %tr
    %td Step 7
    %td
      %p <strong>Assess Your Strengths</strong>
      %p Review how far you have come. Construct an assessment of your strengths in decision making, responsibility taking, and teamwork.