= form_tag search_admin_scholars_path, :id => 'search' do
  = text_field_tag :search, nil, :id => 'scholar-search', :'data-scholar-path' => admin_scholars_path, :placeholder => 'Search for a Scholar...'