= render 'side_steps'

%h2 Create Your Journey Book
%h3 What is the Journey Book?
%p The Decision Makers Journey Book is a personal portfolio that:
%ul.pencil
  %li helps you look at your own decision making strategies
  %li invites you to talk about real decisions with a planning partner
  %li gives you a place to document and demonstrate your strengths and growth as a decision maker

%h2 What will your Journey Book include?
%table{:cellpadding => 10, :style => 'width: 400px; margin: 20px auto; border: 1px solid #000;'}
  %tr
    %td
      %p{:align => 'center'} <strong>Table of Contents</strong>
      %p
        %ol
          %li <strong>Your Personal Front Page</strong>
          %li <strong>Starting Point Profile</strong>
          %li
            <strong>Chapter 1: A Portrait of Myself as a Decision Maker</strong>
            %ul
              %li A Good Decision &mdash; And What I learned
              %li A Bad Decision &mdash; And How I Recovered
              %li A Strong Decision Makers Review
          %li
            <strong>Chapter 2: A Plan of Action for a Real Problem</strong>
            %ul
              %li An Options and Outcomes Brainstorm
              %li An Action Plan
              %li A Strong Decision Makers Review
          %li
            <strong>Chapter 3: A Portfolio of Plans, Milestones, and Accomplishments</strong>
            %ul
              %li A Letter to Myself
              %li A Record of Progress and Strengths
          %li
            <strong>The Decision Makers Guide</strong>
            %ul
              %li Steps Strategy Sessions Print Me Notes

%h2 How do I create my Journey Book?
%p This online guide will walk you through the 7 steps in the Decision Makers process. Each step:
%ul.pencil
  %li describes a decision making activity for your and your partner to do
  %li asks you to take a Time Out for a brief Strategy Session
  %li lets you move out of the online Guide into a word processing program so you can write, format, and print your text
%p
  :markdown
    You have already completed Step 1, your Starting Point Profile. Now, in Step 2 you will create the front page of your Journey Book. But before you begin, take a minute to learn how to do **Collaborative Planning** with your partner.
.section
  .clock
  %h3 Collaborative Planning: A Strategy for Working Partners
  .clear
  %p
    &raquo;
    = link_to 'View the Collaborative Planning Strategy Session', nil
    (pg. 1)

.section
  .stop
  %h3 Create your Personal Front Page
  .clear
  %p Use your computer, pictures, or pen to design and print your own front page. Let it tell a story of who you are and where you are in your journey &mdash; right now.
  %ul.tick
    %li Who are you?
    %li Where are you known: your school, your work place, your community?
    %li Include some clues to your identity (a nickname, phrase, picture, poem).
  %p
    &raquo;
    = link_to 'Design your Front Page', '/downloads/design-your-front-page.doc', :class => 'button'