%h1 Step 5: Create a plan of action for a real problem
%p This chapter lets you put your skill as a decision maker to use by looking at a real decision you have to make NOW.
%h2 How do Decision Makers decide what to do?
%p The first thing decision makers do is to look at the <u>options</u> they have in a particular situation. But sometime none of those options look all that good. Or the “best” option can have some bad results. So that is why they choose among their options by looking at the likely <u>outcomes</u>. Then they make an informed choice and take responsibility for their decisions—even when they don’t work out.
%h2 What will you do?
%p Every day people have to face problems, work for things they want, and make decisions. They are more likely to make a good decision if they think out their options and outcomes before they have to act. This chapter in your Journey Book will help you make a real decision by using the Option and Outcome strategy for thinking about a REAL and IMMEDIATE problem and a decision you could make in the next few weeks or months.

.section
  .clock
  %h3 Options and Outcomes: A Strategy for Making Strong Decisions
  .clear
  %p
    &raquo;
    = link_to 'View Options and Outcomes Strategy Session', '/downloads/strategy-session.doc'
    (pgs. 6-8)

%h2 What kind of decisions are you facing?
%p Plan what you want to write about in this chapter by listing some decisions that you will be making in the coming month:
%ul.tick
  %li What are the <strong>hardest</strong> choices you face? Some choices may be hard because you feel pulled in two directions. Or maybe you feel pressure from other people. Maybe it is hard because you are unsure what will happen.
  %li What choices are you making <strong>right now</strong> that might affect your <strong>transition</strong> from school to work or college in the <strong>future</strong>?
  %li What are the <strong>hardest</strong> choices you face? Some choices may be hard because you feel pulled in two directions. Or maybe you feel pressure from other people. Maybe it is hard because you are unsure what will happen.

.section
  .stop
  %h3 Brainstorm Your Options
  .clear
  %p Have you decided on a decision you need to think about? Now use the Options and Outcomes strategy to come up with a bigger set of Options and play out the possible Outcomes. You can use a chart like this one (found in your Chapter 2 file) to brainstorm ideas. Use it, them check back here to read about what next:
  %table{:width => '300px', :style => 'margin:0 auto;'}
    %tr
      %th Options
      %th Possible Outcomes
    %tr
      %td
      %td
  %p
    &raquo;
    = link_to 'Begin to Brainstorm your Options', '/downloads/create-chapter-2.doc'

.section
  .stop
  %h3 Go Get Good Rivals
  .clear
  %p Brainstorming and talking with yourself is always a good start. But are there are always some good rivals you didn’t think of?
  %ul.pencil
    %li Ask another planning partner to help you rival the set of Options in your brainstorming chart and imagine more possible Outcomes.

.section
  .stop
  %h3 Write a Plan of Action for Yourself
  .clear
  %p After you have collected some <em>good</em> <strong>Rivals</strong> to your list of <strong>Options and Outcomes</strong> you are ready to create Chapter 2. This chapter will describe a real problem. Then it will show how you, as a Decision Maker, thought it through, and came up with a plan of action. It should:
  %ul.tick
    %li <strong>Describe the problem</strong>. Tell the story-behind-the-story from your insider point of view. Paint a picture of your options and what could happen. You could even write a story or script it as a dialogue.
    %li <strong>Give the reasons for your decision</strong>. Talk about what you think you will do and why you made that decision instead of your other options. Be sure to respond to the good rivals other people posed.
    %li <strong>Work out your plan</strong>. Turn your decision into a plan of action. How will you do this? When and where? What is your first step? Will you have to overcome difficulties or roadblocks on the way? What do think some possible outcomes <em>might be</em>?
  %p <strong>Tips</strong>: You could turn this action plan into a letter, a story, or handy "what to do" note. Be as specific as you can in describing your decision. It may surprise you when you look at your plan in a month or two.
  %ul.pencil
    %li When you have written the first draft of your action plan, use this check list to review it. Need to revise? Print out both your Before and After reviews and put them in Chapter Two of your Journey Book along with your Options, Rivals, and Action Plan.

.section
  .stop
  %h3 Test Your Action Plan: Are You Doing Strong Decision Making?
  .clear
  %p Want to test your strength? <strong>Strong</strong> or reflective decision makers have a special advantage because they know how to <strong>reflect</strong> or look back at their own decisions. They are able to imagine realistic, specific actions and situations, to come up with good rivals, and to test and question their own ideas. Use this checklist to see how many of the features of a strong decision maker you can find in Chapter 2.
  %p Look at your plan of action and give it a &#x2713 if it has the following.
  %p Give a second &#x2713 if it has this feature in more than one place.
  %table
    %tr
      %td{:width => '50px'}
      %td <strong>Specifics</strong>: It is detailed and elaborated with specifics
    %tr
      %td
      %td <strong>Steps</strong>: It spells out specific actions I could take—it lays out steps for what to do
    %tr
      %td
      %td <strong>Personal fit</strong>: It is personal and clearly refers to my situation (beyond what anyone might say about this general problem)
    %tr
      %td
      %td <strong>Reasons</strong>: It goes further to explain my idea by giving reasons with words like "since" or "because" or "so."
    %tr
      %td
      %td <strong>Rivals</strong>: It raises rivals and talks about alternatives to my own ideas
    %tr
      %td
      %td <strong>Roadblocks</strong>: <strong>Conditions</strong>: It describe the special conditions under which an option might work &mdash; or not work &mdash; with words such as "if" or "when."
    %tr
      %td
      %td <strong>Roadblocks</strong>: <strong>Consequences</strong>: It considers possible problem outcomes with words such as "but", or "since", or "however".
    %tr
      %td
      %td <strong>Reflection</strong>: It looks back at my own choices to see patterns, possible problems, or what I learned.

.section
  .clock
  %h3 Evaluate You Decision Making
  .clear
  %p Use the following rubric to evaluate the decision making skills:
  %table
    %tr
      %td <strong>Scores</strong>
      %td
    %tr
      %td 16-13
      %td This is a STRONG decision that shows lots of reflection.
    %tr
      %td 12-9
      %td Very Good. This has lots of good thinking.
    %tr
      %td 8-5
      %td Trying Hard? A good start. Where could you make the biggest change?
    %tr
      %td 4-0
      %td Needs Some Work!
  %p What could you do to turn your action plan into a STRONGER DECISION?
  %p <strong>Revise your Action Plan</strong> and place it with your Before and After review in Chapter 2 of your Journey Book.