%h2 Step 4: Create a Portrait of Yourself as a Decision Maker
%p The first chapter that will go in your Journey Book is—of course—about you! So write a story about some of the decisions you have made and about what you learned from your experience.
%p To get ideas for this portrait of yourself, start just as Brian and Stephanie did. Begin a discussion with your group. Tell your Story-Behind-the-Story . Let them act as your Planning Partners. Here’s how.
%h2 How do you being a story-behind-the-story dialogue?
%table
  %tr
    %th{:width => '50%'} What the Story-teller Does
    %th{:width => '50%'} What the Planning Partners Do
  %tr
    %td
      %p
        %strong Start the Story
      %p You are the story teller, so tell us about the problem you faced. Make your story lead up to the point at which you had to make a difficult decision.
      %p But as soon as you describe that moment &mdash; before you tell us what you did or why &mdash; STOP!
    %td
      %strong Listen with imagination
  %tr
    %td
      %p
        %strong Ask for Predictions
      %p Now ask us to predict what we think you did. See <u>how many</u> rival hypotheses you can get us to imagine.
      %p As the story teller, you get to ask us 3 hard questions:
      %ul.tick
        %li What <u>decision</u> do you think I made? And why?
        %li What do you think the <u>problem</u> is here?
        %li Whose problem is it?
    %td
      %p
        %strong Predict Rival Possibilities
      %p See how many different <u>rival</u> hypotheses you can imagine:
      %ul.tick
        %li What did the story teller decide?
        %li What is the real problem here?
        %li Whose problem is it?
  %tr
    %td
      %p
        %strong Reveal the Story
      %p Tell us about your decision:
      %ul.tick
        %li What did you do?
        %li What did you do?
        %li What is the problem here?
        %li If it was a bad decision, how did you recover?
      %p
        %em Tip: Jot down good rivals and your own answers. Include these when you write your Portrait for Chapter One
    %td
      %p
        %strong Get the Story-Behind-the-Story
      %p Here is where you &mdash; the planning partner &mdash; can help the story teller dig deeper. Your job is to ask:
      %ul.tick
        %li <u>Why?</u> What is the real problem here?
        %li How did you <u>feel</u> about yourself? Were you proud of something? Did other people see it the same way?
        %li Did you <u>learn</u> something from this experience about yourself or others?

%p
  :markdown
    Before you tell your story, be sure you know how to **rival**. Then come back for a **Story-behind-the-Story** discussion with your group.

.section
  .clock
  %h3 Rivaling: A Strategy for Bringing More Voices to The Table
  .clear
  %p
    &raquo;
    = link_to 'View the Rivaling Strategy Session', '/downloads/strategy-session.doc'
    (pgs. 4-5)

%h2 Tips for writing your story
%p Write your story like you told it. Give a dramatic description leading up to the climax—the point at which you had to make a decision. Stop.
%ul.pencil
  %li Tell the story-behind-the-story &mdash; this is the story that only you can tell about how you felt and what it really meant to you. Remember, you are the expert here &mdash; the one with the "insider" knowledge. For instance, you might use the story-behind-the-story strategy to help adults understand this problem or decision &mdash; from a teenager's point of view.
  %li Compare the <strong>rival hypotheses</strong> your partners came up with to what you really did? What is the story-behind-the-story here? Why did you do what you did? And what did you learn?
  %li When you have written your first draft of your stories, use the check list below to review them and see how many signs of strong decision making you were using.
    
.section
  .stop
  %h3 Are You Read to Write Your Portrait
  .clear
  %p This portrait of you as a decision maker includes 2 stories: One is about a good decision and one about a bad decision &mdash; and how you recovered from it.
  %ul.pencil
    %li Start with the <strong>good</strong> or the <strong>bad</strong> decision. Include ideas you heard in the story-behind-the-story discussion. Do the rivals tell you something about yourself as a decision maker?

.section
  .stop
  %h3 Review Your Stories
  %p Look at your stories and give each one a &#x2713 if it has the following features:
  %table
    %tr
      %td{:width => '50px'}
      %td <strong>Specifics</strong>: It is detailed and elaborated with specifics
    %tr
      %td
      %td <strong>Steps</strong>: It spells out specific actions or steps I took
    %tr
      %td
      %td <strong>Personal fit</strong>: It is personal and clearly refers to my situation (beyond what anyone might say about this general problem)
    %tr
      %td
      %td <strong>Reasons</strong>: It goes further to explain my idea by giving reasons with words like "since" or "because" or "so."
    %tr
      %td
      %td <strong>Rivals</strong>: It raises rivals and talks about alternatives to my own ideas

.section
  .clock
  %h3 Evaluating the Decision Making in Your Stories
  .clear
  %p Use the following rubric to evaluate the decision making in your stories:
  %table
    %tr
      %td <strong>Scores</strong>
      %td
    %tr
      %td 10-8
      %td This is a STRONG decision chapter that shows lots of reflection
    %tr
      %td 7-5
      %td Very Good. This has lots of good thinking.
    %tr
      %td 4-3
      %td Trying Hard? A good start. Where could you make your story more reflective?
    %tr
      %td 2-0
      %td Needs Some Work!
= link_to 'Begin Your Portrait', '/downloads/begin-your-portrait.doc', :class => 'button'