%h2 A Portrait of Myself as a Decision Maker
%p
  = image_tag 'journey-book-chapter-1.gif', :width => 400, :height => 300, :class => 'left'
  Meet Stephanie and Brian, who will invite you into a problem-solving dialogue about a difficult decision they have to make.
%p Listen to what their friends say they should do.
.clear
%p
  :markdown
    Notice the strategy their friends use—it’s called **rivaling**. Rivaling tries to come up with many different ways of seeing and solving the problem.
%ul.pencil
  %li Make your own prediction about what Brian and Stephanie actually did and compare it to their decision
%p
  :markdown
    Notice a second strategy Brian and Stephanie use—its called **telling the story-behing-the-story**. It lets them think about why they made that decision and what they learned.
%p Let Brian and Stephanie show you how to hold your own problem-solving dialogue, because the next step in this Journey will ask you:
%ul.tick
  %li To tell your own story about a hard decision you made
  %li And to see what rivals your group comes up with &mdash; before you tell them the story-behind-the-story of what you really did.
.section
  .stop
  %h3 Check out the Multimedia Introduction
  .clear
  %p
    &raquo;
    = link_to 'Being the Journey Book Introduction', '/downloads/journey-book-introduction.zip'
  %p Have you finished the Introduction? If so, take a closer look at how to tell the story-behind-the-story. Start thinking about the story you have to tell about your own decision.

.section
  .clock
  %h3 Story-Behind-the-Story: A Strategy for Getting at the Whole Truth
  .clear
  %p
    &raquo;
    = link_to 'View the SBS Strategy Session', '/downloads/strategy-session.doc'
    (pgs. 2-3)