%h1 Step 1: Begin Your Journey
%h2 Create a Starting Point Profile
%p Open up the Starting Point Profile file on your computer and take a quiet, thoughtful look at your personal network of support, at the assets that support you right now, and at your own plans.
%p Creating your Starting Point Profile will let you think about:
%ul.tick
  %li Who is traveling with me?
  %li What am I working on in my life now?
  %li What is my situation?
  %li What would I like to change?


%h2 What is Your Profile Good For?
%p Use this Profile to start a conversation about your plans with a mentor, teacher, coworker, minister, supervisor, or friend. It will let you find strengths and gaps in your network of supporters and your assets. Then you can imagine ways to improve both of them. You will also be able to compare your decision making strategies to the pattern for your group as a whole and look for places you could become a stronger decision maker.
%p Later you will be able to revisit these questions and see just how you and your situation have changed.

= link_to 'Begin Starting Point Profile', profile_path(1), :class => 'button'