@import 'base';
@include reset;
@import 'fonts';

// colors
$dark-brown: #5b4f45;
$brown: #665c53;
$orange: #cc5b14;
$green: #a1ccae;
$teal: #71b3a5;
$light-tan: #f0f2e5;
$tan: #e6e1cd;
$red: #c02525;
$light-red: #e8c9bf;
$yellow: #d9cd5d;
$light-yellow: #f1f0c6;


html, body {
  height: 100%;
  min-width: 1000px;
}

body {
  color: #000000;
  font-family: verdana, sans-serif;
  font-size: 16px;
}

strong {
  font-weight: bold;
}

em {
  font-variant: italic;
}

// headers
$base-header-size: 36px;
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ostrich Black';
}

h2 {
  color: $orange;
  font-size: $base-header-size;
  margin: 10px 0 5px 0;
  padding: 5px 0;
}

h3 {
  color: $orange;
  font-size: $base-header-size/1.5;
  margin: 40px 0 0 0;
}

h4 {
  font-size: $base-header-size/2;
  font-weight: bold;
  margin-top: 25px;
}

p {
  margin-top: 15px;
  line-height: 22px;
}

a, a:visited {
  color: blue;
  text-decoration: none;
}

table {
  width: 100%;
  
  tr {
    vertical-align: top;
    
    th, td {
      border: 1px solid #eee;
      padding: 10px;
    }
  }
  
  a, a:visited {
    color: #000 !important;
  }
}

div.section {
  background: $light-tan;
  border: 1px solid $tan;
  padding: 10px;
  margin: 20px;
}

ul, ol {
  margin-left: 10px;
}

ol {
  list-style: decimal inside;
}

ul.pencil {
  margin: 10px 20px;
  list-style: none;
  
  li {
    background: url('../images/pencil.png') no-repeat left center;
    padding: 3px 0 3px 24px;
  }
}

ul.tick {
  margin: 10px 20px;
  list-style: none;
  
  li {
    background: url('../images/tick.png') no-repeat left center;
    padding: 3px 0 3px 24px;
  }
}

//
//
// Constants
//
//
.clear {
  height: 10px;
  clear: both;
}

.none {
  display: none;
}

.left {
  float: left;
  margin-right: 20px;
}

.right {
  float: right;
  margin-left: 20px;
}

.alert {
  border: 1px solid $red;
  background: $light-red;
  color: $red;
  margin-bottom: 20px;
  padding: 10px;
}

.notice {
  border: 1px solid $yellow;
  background: $light-yellow;
  color: $brown;
  margin-bottom: 20px;
  padding: 10px;
}

//
//
// Main Styles
//
//
#wrapper {
  margin: 0 auto;
  min-height: 100%;
  padding: 20px;
  width: 940px;
}

#header {
  display: none;
}

ul#public_nav {
  display: none;
}

ul#admin_nav {
  display: none;
}

//
//
// Admin
//
//
#search  {
  display: none;
}

ul#actions {
  display: none;
}

.pagination {
  padding: 10px 0;
  text-align: center;
}